body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 360px;
    background: #5d09e4;
    padding: 40px 30px;
    margin: 70px auto;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    text-align: left;
}

.login-box h2 {
    margin-top: 0;
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

.login-box label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 89%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    font-size: 15px;
}

.remember {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember label {
    margin-left: 5px;
    font-size: 15px;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.btn-login:hover {
    opacity: 0.9;
}

.forgot {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #000;
    text-decoration: underline;
}

.signup {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.signup a {
    color: #0000ff;
    text-decoration: none;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}